 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br/><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I'm a web technology specialist with experience in all avenues of web technologies including web design, front-end development, back-end development, web accessibility, digital marketing, and more. Coming from a web development background, I have integrated the skills needed to create full web experiences.</p>
                    <br/>
                </div>
            </div>
        </div>
    </section>